<footer id="pageFooter" class="page-footer">
        <div class="container">
          <!-- logo -->
          <img class="logo" src="__CDN__/static/img/logo2.png" />
          <!-- info -->
          <div class="footer-info mt-30">
            <ul class="footer-info-l">
              <li>服务热线：0527-81885568</li>
              <li>咨询邮箱：wanzhuart@163.com</li>
              <li>地 址：江苏省宿迁市宿城区宝龙广场3楼</li>
            </ul>
            <ul class="footer-info-r">
              <li><a href="http://www.xiuqiangedu.com">秀强教育网站</a></li>
              <!--<li><a href="#">关工委网站</a></li>-->
              <!--<li><a href="#">迅哥有约网站</a></li>-->
            </ul>
          </div>
          <!-- 二维码 -->
          <div class="footer-qr">
            <div class="qr-item">
              <div class="qr-img-wrap">
                <img src="__CDN__/static/img/gongzhonghao.png" alt="公众号" />
              </div>
              <div class="mt-10">公众号</div>
            </div>
            <div class="qr-item">
              <div class="qr-img-wrap">
                <img src="__CDN__/static/img/kefu.jpg" alt="客服" />
              </div>
              <div class="mt-10">客服</div>
            </div>
          </div>
        </div>
      </footer>
      <script type="text/javascript" src='__CDN__/assets/libs/jquery/dist/jquery.min.js'></script>